@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "DM Sans", sans-serif;
}
/* LOGO AND NAV */

#header {
    width: 100%;
    height: 15vh;
    background-color: #fff;
    text-align: center;
    
}

#header h1 {
    font-family: "Raleway", sans-serif;
    color: black;
    padding-top: 2vh;
    font-size: 300%;
    font-weight: 600;
}


#header li {
    list-style: none;
    padding: 4vh 4vh 4vh 4vh;
    display: inline;
    font-family: DM Sans, sans-serif;
}

#header ul {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#header a {
    color: #000;
    text-decoration: none;
    font-size: 100%;
    text-transform: uppercase;
    font-weight: 300;

}

#header a:hover{
    color: rgb(25, 43, 141);
    font-weight: 500;
}

/* HERO */

#hero {
    width: 100%;
    height: 80vh;
    background: url(../images/imagereader-51.png) no-repeat center center;
    background-size: cover;
    background-color: #000;
}

#hero-text {
    text-align: center;
    margin-left: 25vh;
    margin-right: 25vh;
    padding-top: 25vh;
    border-radius: 10%;

}

#hero-text h2 {
    font-size: 300%;
    color: #fff;
}

#hero-text h4 {
    font-size: 150%;
    color: #fff;
}

/* FIRST GALLERY */

#home-1 {
    width: 100%;
    height: 30vh;
    background: url(../images/imagereader-view-london.png) no-repeat center center;
    background-size: 100%;
    border-top: 10px solid rgb(228, 228, 228);
    border-bottom: 10px solid rgb(228, 228, 228);
}

#home-1-text {
    color: #fff;
   
    padding: 10vh 60vh 10vh 10vh;
}

#home-1-text h4 {
    font-size: 200%;
}

#home-1-text h6 {
    font-size: 150%;
    letter-spacing: .5vh;
    padding: 1vh 0 1vh 0;
}


#button {
    font-size: 100%;
    border: 2px solid #fff;
    margin-top: 1vh;
    width: 12vh;
    text-align: center;
    padding: .5vh 2vh .5vh 2vh;
    text-transform: uppercase;
}

#button a {
    color: #fff;
    text-decoration: none;
}


#button a:hover {
    color: rgb(133, 133, 133);
}

#button:hover {
    border: 2px solid rgb(133, 133, 133);
}